{{ if ne .Site.Params.share false}}
<span style="float: right;">
    &nbsp;
    <span> -- {{.Site.Params.share}} -- </span>
    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="{{ .Title }}" data-url="{{ .Permalink }}" data-show-count="false">Tweet</a>
</span>
{{ end }}
