<aside>
    <div>
        <a href="https://www.myowndb.com"><img src="/myowndb.png"></img></a>
        <b><a href="https://www.myowndb.com">Discover MyOwnDB, the human-scale data management web app</a></b>
    </div>
    <hr/>
    <b><a href="https://www.udemy.com/course/jsonnet-from-scratch/?referralCode=EFA565D6914866D5FADE">Learn Jsonnet and ease your Docker Swarm and Kubernetes configurations management</a></b>
</aside>
