
{{ define "main" }}
<main aria-role="main">
  <header class="homepage-header">
    <h1>{{.Title}}</h1>
    {{ with .Params.subtitle }}
    <span class="subtitle">{{.}}</span>
    {{ end }}
  </header>
  <div class="homepage-content">
    <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
    {{.Content}}
  </div>
  <div>
    <!-- Note that .Pages is the same as .Site.RegularPages on the homepage template. -->
    {{ range .Paginator.Pages }}
        {{ .Render "summary"}}
    {{ end }}
  </div>

{{ if gt .Paginator.TotalPages 1 }}
{{ $current := .Paginator.PageNumber }}
<div class="nav-links">
<ul class="pagination">
    {{ with .Paginator.First }}
        <a href="{{ .URL }}" aria-label="First"><span aria-hidden="true">&laquo;</span></a>
    {{ end }}

    <a href="{{ if .Paginator.HasPrev }}{{ .Paginator.Prev.URL }}{{ end }}" aria-label="Previous"><span aria-hidden="true">Previous Page</span></a>
    {{ range .Paginator.Pagers }}
    {{ if eq $current .PageNumber }}
    <span href="{{ .URL }}">{{ .PageNumber }}</a>
    {{ else }}
    <a href="{{ .URL }}">{{ .PageNumber }}</a>
    {{ end }}
    {{ end }}
    <a href="{{ if .Paginator.HasNext }}{{ .Paginator.Next.URL }}{{ end }}" aria-label="Next"><span aria-hidden="true">Next Page</span></a>
    {{ with .Paginator.Last }}
    <a href="{{ .URL }}" aria-label="Last"><span aria-hidden="true">&raquo;</span></a>
    {{ end }}
</ul>
</div>
{{ end }}
{{ partial "ad_double_rectangle.html" . }}
</main>

{{ end }}

